<template>
  <!-- v-for 跑陣列 -->
  <p v-for="text in dataList">
      {{ text }}
  </p>
  <!-- v-for 跑物件 -->
  <!-- key 通常是 unique 值 -->
  <p
    v-for="(value, key, index) in objList"
    :key="value"
  >
    <!-- 加入判斷式 -->
    <span v-show="key !=='key3'">
        {{ index }} -- {{ key }} : {{ value }}
    </span>
  </p>

  <p class="test-cls">{{test}}</p>

  <!-- 有綁 key 的話，兩次都會有動畫 -->
  <p class="test-cls"
  :key="test"
  >{{test}}</p>

  <button> 顯示單向綁定 </button>
  <button> 顯示雙向綁定 </button>
  <div class="container-1">
    <p> 資料綁定(單向綁定) </p>
    {{ data }}
  </div>

  <div class="container-2">
    <p> 資料綁定(雙向綁定) </p>
    <input type="text" v-model="text" />
    <p>{{ text }}</p>
  </div>

<!-- v-if: 條件判斷 -->
  <button> 顯示單向綁定 </button>
  <button> 顯示雙向綁定 </button>
  <div class="container-1" v-if="view===1">
    <p> 資料綁定(單向綁定) </p>
    {{ data }}
  </div>

  <div class="container-2" v-if="view===2">
    <p> 資料綁定(雙向綁定) </p>
    <input type="text" v-model="text" />
    <p>{{ text }}</p>
  </div>

<!-- v-on: 事件綁定 -->
<!-- @ 等同於 v-on: -->
  <button v-on:click="changeView(1)"> 顯示單向綁定 </button>
  <button @click="changeView(2)"> 顯示雙向綁定 </button>
  <button @click="changeView(1000)"> 沒畫面 </button>

  <div class="container-1" v-if="view===1">
    <p> 資料綁定(單向綁定) </p>
    {{ data }}
  </div>

  <!-- v-else 一次只會配對一組 -->
  <div class="container-2" v-if="view===2">
    <p> 資料綁定(雙向綁定) </p>
    <input type="text" v-model="text" />
    <p>{{ text }}</p>
  </div>
  <div v-else>沒畫面</div>


</template>



<script setup lang="ts">
import { ref } from 'vue'

defineProps<{ msg: string }>()
const data ="Hello Vue"
const text=ref("defaultTextString")

// 定義一個 error function `() => {}`
// 傳參
const changeView = (index) => {
  // 不加上 value 會抓到物件而非值
  // view.value = 1
  view.value = index
}


const count = ref(0)

const view = ref(1)

const dataList = [
    'a',
    'b',
    'c',
    'd',
]

const objList = {
    key1:'k1',
    key2:'k2',
    key3:'k3',
    key4:'k4',
}

const test=ref('test')

// 過兩秒後，改成 apple
setTimeout(()=>{
  test.value='apple!'
},2000)

</script>


<style>
.container-1 {
  /* 邊匡 */
  border: 2px red solid;
}

.container-2 {
  /* 邊匡 */
  border: 2px green;
}

.test-cls {
  font-size: 40px;
  animation: openIn 1s ease-in-out;
}

@keyframes openIn {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

</style>
